

body > header,
body > nav,
body > main,
body > footer {
  padding: 0 calc(50% - 45rem);

  @media (max-width: 94rem) {
    padding: 0 2rem;
  }

  @media (max-width: 46rem) {
    padding: 0 1rem;
  }
}

body > main {
  border-top: var(--size-2px) solid var(--palette-color-armadillo-500);
  border-bottom: var(--size-2px) solid var(--palette-color-armadillo-500);
}

body > header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: start;

  img {
    width: 7rem;
    margin: 3rem 0 0;

    border: var(--size-1px) solid var(--palette-color-armadillo-500);
    border-radius: var(--size-4px);
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 5rem;
    white-space: nowrap;
  }

  @media (max-width: 46rem) {

    img {
      width: 5rem;
      margin: 3rem 0 0;
    }

    h1 {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}

body > nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.25rem;


  & > a {
    background: var(--palette-color-taupegray-500);
    border-radius: var(--size-2px) var(--size-2px) 0 0;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    min-width: 10rem;

    svg {
      height: 1.5rem;
      padding: 0.125rem;

      background:  var(--palette-color-armadillo-500);
      border-radius: var(--size-2px);
      stroke: var(--palette-color-tana-500);
      fill: none;
    }

    span {
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
    }

    &.current-page {
      background: var(--palette-color-armadillo-500);
      border-bottom: 0.25rem solid var(--palette-color-armadillo-500);
      color: var(--palette-color-tana-500);

      svg {
        background:  var(--palette-color-tana-500);
        stroke: var(--palette-color-armadillo-500);
      }
    }

    &:hover {
      background: var(--palette-color-tana-500);
      border-color: var(--palette-color-tana-500);
      color: var(--palette-color-armadillo-500);

      svg {
        background:  var(--palette-color-armadillo-500);
        stroke: var(--palette-color-tana-500);
      }
    }
  }

  @media (max-width: 46rem) {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;

    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
    gap: 0;

    border-top: var(--size-2px) solid var(--palette-color-armadillo-500);
    border-bottom: var(--size-2px) solid var(--palette-color-armadillo-500);
    background: var(--palette-color-taupegray-500);

    & > a {
      flex-direction: column;
      flex: 1 100%;
      min-width: 0;
      font-size: 0.666rem;
      border-radius: 0;

      &.current-page {
        border-bottom: none;
      }

      &:hover {
        border-color: var(--palette-color-tana-500);
      }
    }
  }
}