

body > header,
body > nav,
body > main,
body > footer {
  padding: 0 calc(50% - 45rem);

  @media (max-width: 94rem) {
    padding: 0 2rem;
  }

  @media (max-width: 46rem) {
    padding: 0 1rem;
  }
}

body > main {
  border-top: var(--size-2px) solid var(--palette-color-armadillo-500);
  border-bottom: var(--size-2px) solid var(--palette-color-armadillo-500);
}

body > header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: start;

  img {
    width: 7rem;
    margin: 3rem 0 0;

    border: var(--size-1px) solid var(--palette-color-armadillo-500);
    border-radius: var(--size-4px);
  }

  h1 {
    font-size: 3rem;
    line-height: 5rem;
    white-space: nowrap;
  }

  @media (max-width: 46rem) {

    img {
      width: 5rem;
      margin: 3rem 0 0;
    }

    h1 {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: bold;
    }
  }
}

body > nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.25rem;


  & > a {
    background: var(--palette-color-taupegray-500);
    border-radius: var(--size-2px) var(--size-2px) 0 0;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    min-width: 10rem;

    svg {
      height: 1.5rem;
      padding: 0.125rem;

      background:  var(--palette-color-armadillo-500);
      border-radius: var(--size-2px);
      stroke: var(--palette-color-tana-500);
      fill: none;
    }

    span {
      display: inline-block;
      text-transform: uppercase;
      font-weight: lighter;
    }

    &.current-page {
      background: var(--palette-color-armadillo-500);
      border-bottom: 0.25rem solid var(--palette-color-armadillo-500);
      color: var(--palette-color-tana-500);

      svg {
        background:  var(--palette-color-tana-500);
        stroke: var(--palette-color-armadillo-500);
      }
    }

    &:hover {
      background: var(--palette-color-tana-500);
      border-color: var(--palette-color-tana-500);
      color: var(--palette-color-armadillo-500);

      svg {
        background:  var(--palette-color-armadillo-500);
        stroke: var(--palette-color-tana-500);
      }
    }
  }

  @media (max-width: 46rem) {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;

    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
    gap: 0;

    border-top: var(--size-2px) solid var(--palette-color-armadillo-500);
    border-bottom: var(--size-2px) solid var(--palette-color-armadillo-500);
    background: var(--palette-color-taupegray-500);

    & > a {
      flex-direction: column;
      flex: 1 100%;
      min-width: 0;
      font-size: 0.666rem;
      border-radius: 0;

      &.current-page {
        border-bottom: none;
      }

      &:hover {
        border-color: var(--palette-color-tana-500);
      }

      span {
        font-weight: bold;
      }
    }
  }
}

body > footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;

  .copyright {
    text-align: center;
  }

  dl {
    min-width: 10rem;

    dt {
      line-height: 1rem;
      font-weight: 900;
    }

    dd {
      padding: 0.25rem 0;
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      &:hover span {
          text-decoration: underline;
      }
    }

    svg {
      height: 1rem;
    }

    span {
      color: var(--size-2px) solid var(--palette-color-armadillo-500);
    }
  }

  @media (max-width: 46rem) {
    padding-top: 1rem;
    padding-bottom: 6rem;

    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    dl {
      dt {
        text-align: center;
      }

      a {
        justify-content: center;
      }
    }
  }
}

article {
  background: var(--palette-color-tana-500);
  padding: 0;
  margin: 1rem 0;

  header {
    background: var(--palette-color-armadillo-500);
    color: var(--palette-color-tana-500);
    fill: var(--palette-color-tana-500);
    padding: 0.5rem 1rem;
      text-transform: uppercase;
      font-weight: lighter;
  }


}