<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Placeholder NPCs</title>
        <th:block th:replace="~{base :: metadata}" />
        <th:block th:replace="~{base :: service-worker}" />
        <th:block th:replace="~{base :: stylesheets}" />
    </head>
    <body>
        <th:block th:replace="~{base :: site-header}" />
        <th:block th:replace="~{base :: site-navigation('episodes')}" />
        <main>
            <th:block th:each="episode : ${rssFeed.channel.allFullEpisodes}">
                <th:block th:replace="~{component :: episode-article(${episode})}" />
            </th:block>
        </main>
        <th:block th:replace="~{base :: site-footer}" />
    </body>
</html>