<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Placeholder NPCs</title>
        <th:block th:replace="~{base :: metadata}" />
        <th:block th:replace="~{base :: stylesheets}" />
    </head>
    <body>
        <th:block th:replace="~{base :: site-header}" />
        <th:block th:replace="~{base :: site-navigation('episodes')}" />
        <main>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </main>
        <th:block th:replace="~{base :: site-footer}" />
    </body>
</html>