<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Stylesheets -->
    <th:block th:fragment="stylesheets">
        <link rel="stylesheet" href="./styles/reset.css" />
        <link rel="stylesheet" href="./styles/base.css" />
    </th:block>

    <!-- Meta Data -->
    <th:block th:fragment="metadata">
        <meta charset="utf-8" />
        <meta name="robots" content="noindex, noimageai, noai" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="theme-color" content="#d1c6b4" />
    </th:block>

    <!-- Site Header Fragment -->
    <header th:fragment="site-header">
        <h1><a href="/">Placeholder NPCs</a></h1>
        <img src="https://d3t3ozftmdmh3i.cloudfront.net/staging/podcast_uploaded_nologo/42989027/42989027-1740182182670-c5d593678b89f.jpg" />
    </header>

    <!-- Site Navigation Fragment -->
    <nav th:fragment="site-navigation(activePage)">
        <a th:classappend="${activePage == 'index' ? 'current-page' : ''}" href="./" >
            <th:block th:replace="~{svg :: tower-broadcast}" />
            <span>Latest</span>
        </a>
        <a th:classappend="${activePage == 'episodes' ? 'current-page' : ''}" href="./episodes">
            <th:block th:replace="~{svg :: headphones}" />
            <span>Episodes</span>
        </a>
        <a th:classappend="${activePage == 'cast' ? 'current-page' : ''}" href="./cast">
            <th:block th:replace="~{svg :: users}" />
            <span>Cast</span>
        </a>
        <a th:classappend="${activePage == 'about' ? 'current-page' : ''}" href="./about">
            <th:block th:replace="~{svg :: pulse}" />
            <span>About</span>
        </a>
    </nav>
</body>
</html>