<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Stylesheets -->
    <th:block th:fragment="stylesheets">
        <link rel="stylesheet" href="./styles/reset.css" />
        <link rel="stylesheet" href="./styles/base.css" />
        <link rel="stylesheet" href="./styles/component.css" />
    </th:block>

    <!-- Meta Data -->
    <th:block th:fragment="metadata">
        <meta charset="utf-8" />
        <meta name="robots" content="noindex, noimageai, noai" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="theme-color" content="#d1c6b4" />
        <link rel="alternate" type="application/rss+xml" title="Placeholder NPCs RSS Feed" href="https://anchor.fm/s/100d4a32c/podcast/rss">
    </th:block>

    <!-- Service Worker -->
    <th:block th:fragment="service-worker">
        <link crossorigin="use-credentials" rel="manifest" href="./manifest.webmanifest" />

        <script>if ("serviceWorker" in navigator) {
              navigator.serviceWorker
              .register("./service-worker.js")
              .then(function (registration) {
                  // Registration was successful
                  console.log("ServiceWorker registration successful with scope: ", registration.scope);
              })
              .catch(function (err) {
                  // registration failed :(
                  console.log("ServiceWorker registration failed: ", err);
              });
            }</script>
    </th:block>

    <!-- Site Header Fragment -->
    <header th:fragment="site-header">
        <h1><a href="/" th:inline="text">[[ ${rssFeed.channel.title} ]]</a></h1>
        <img th:src="${rssFeed.channel.itunesImage.href}" />
    </header>

    <!-- Site Navigation Fragment -->
    <nav th:fragment="site-navigation(activePage)">
        <a th:classappend="${activePage == 'index' ? 'current-page' : ''}" href="./" >
            <th:block th:replace="~{svg :: tower-broadcast}" />
            <span>Latest</span>
        </a>
        <a th:classappend="${activePage == 'episodes' ? 'current-page' : ''}" href="./episodes">
            <th:block th:replace="~{svg :: headphones}" />
            <span>Episodes</span>
        </a>
<!--        <a th:classappend="${activePage == 'cast' ? 'current-page' : ''}" href="./cast">-->
<!--            <th:block th:replace="~{svg :: users}" />-->
<!--            <span>Cast</span>-->
<!--        </a>-->
<!--        <a th:classappend="${activePage == 'about' ? 'current-page' : ''}" href="./about">-->
<!--            <th:block th:replace="~{svg :: pulse}" />-->
<!--            <span>About</span>-->
<!--        </a>-->
    </nav>

    <!-- Site Footer Fragment -->
    <footer th:fragment="site-footer">
        <p class="copyright">&copy; Placeholder NPCs 2025. All Rights Reserved.</p>

        <dl>
            <dt>Where to listen</dt>
            <dd>
                <a href="https://open.spotify.com/show/6VvK7kLYbyEE4kwElpMGvj" target="_blank">
                    <th:block th:replace="~{logo :: spotify}" />
                    <span>Spotify</span>
                </a>
            </dd>
            <dd>
                <a href="https://podcasts.apple.com/us/podcast/placeholder-npcs/id1798436931" target="_blank">
                    <th:block th:replace="~{logo :: apple-podcasts}" />
                    <span>Apple Podcasts</span>
                </a>
            </dd>
            <dd>
                <a href="https://www.youtube.com/@PlaceholderNPCs" target="_blank">
                    <th:block th:replace="~{logo :: youtube}" />
                    <span>YouTube</span>
                </a>
            </dd>
            <dd>
                <a href="https://music.amazon.com/podcasts/57377415-0c89-4853-bbbc-c4e2fa117a04/placeholder-npcs" target="_blank">
                    <th:block th:replace="~{logo :: amazon}" />
                    <span>Amazon Music</span>
                </a>
            </dd>
            <dd>
                <a href="https://anchor.fm/s/100d4a32c/podcast/rss" target="_blank">
                    <th:block th:replace="~{logo :: rss}" />
                    <span>RSS Feed</span>
                </a>
            </dd>
        </dl>
    </footer>
</body>
</html>